
@media only screen and (max-width: 950px) {

    .page-section{
        grid-template-columns: 5% 1fr 5%;
    } 

    .svg-bg,.svg-bg-author,.svg-bg-books{
        display: none;
        
    }

    .wrapper-ds{
        align-items: center;
    }

    .button-arrows{
        left: 64%;
    }

    .active-nav{
        width: 100%;
    }

    .navigation{
        h1{
            &:nth-child(2){
                text-align: center;
                font-size: 13px;
                letter-spacing: 1px;
                color: #ffffff4a;
            }
        }
    }

}


@media only screen and (max-width: 550px) {

    .active-nav{
        li{
            font-size: 1.6em !important;
        }
    }

    .details{
        padding:0 !important;
        h1{
            font-size: 3em;
        }
        p{
            width: 95%;  
        }
    }    

    .button-arrows{
        left: 52%;
    }
    
    .navigation-list{
        display: none;
    }

    .button-arrows{
        .arrow-left,
        .arrow-right{
            padding: 0.5em 1.1em !important; 
        }
    }

    #page-num {
        top: 80% !important;
        li{
            height: 24px !important;
        }
    }
}
